* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 212, 148);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(17, 12, 29);
  border-radius: 10px;
  min-height: 500px;
  height: auto;
  width: 400px;
  background-color: rgb(21, 65, 71);
  color: white;
}

.inputForm {
  height: 40px;
  width: 230px;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 8px;
  font-size: 16px;
}

button {
  height: 40px;
  width: 60px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: rgb(255, 202, 123);
}

.container {
  align-self: flex-start;
  margin-left: 60px;
  margin-top: 10px;
}

h1 {
  margin-top: 15px;
  font-family: "Beau Rivage", cursive;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 280px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  text-align: start;
  align-items: center;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.listButtons {
  /* margin-left: 100px; */
  width: 50px;
  height: 25px;
}

.button-container{
   flex: 1;
}

.list-title {
  min-width: 200px;
}
